[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "third_party/SEAL"]
	path = third_party/SEAL
	url = https://github.com/Microsoft/SEAL
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/xtensor"]
	path = third_party/xtensor
	url = https://github.com/xtensor-stack/xtensor
[submodule "third_party/xtl"]
	path = third_party/xtl
	url = https://github.com/xtensor-stack/xtl
[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
